PORT=3000

# PostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5432/ligeirinho_food

# JWT
JWT_SECRET=change-me

# MinIO
MINIO_SERVER_URL=http://localhost:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=ligeirinho

# Swagger
SWAGGER_ENABLED=true
