PORT=4003
DATABASE_URL=postgres://ligeirinho:ligeirinho@localhost:5432/ligeirinho_orders
JWT_SECRET=super-secret-troque-isto
RABBITMQ_URL=amqp://ligeirinho:ligeirinho@localhost:5672
SWAGGER_ENABLED=true
