PORT=4002
DATABASE_URL=postgres://ligeirinho:ligeirinho@localhost:5432/ligeirinho_catalog
JWT_SECRET=super-secret-troque-isto
RABBITMQ_URL=amqp://ligeirinho:ligeirinho@localhost:5672
SWAGGER_ENABLED=true

# MinIO (imagens de produtos e cantinas)
MINIO_SERVER_URL=http://localhost:9000
MINIO_ROOT_USER=ligeirinho-admin
MINIO_ROOT_PASSWORD=ligeirinho-dev-2026
MINIO_BUCKET=ligeirinho
